<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travel_project.mapper.ProjectMapper">
	<!--property是实体类中定义的名称，colum是数据库中定义的名称	-->
   <resultMap id="ProjectWithM" type="ProjectEntity">
	   <id property="id" column="id"/>
	   <result property="name" column="name"></result>
	   <result property="leaderId" column="leader_id"/>
	   <result property="leaderName" column="leader_name"/>
	   <result property="description" column="description"/>
	   <result property="isDeleted" column="is_deleted"/>
	   <collection property="modules" ofType="ModuleEntity">
		   <id property="id" column="module_id"/>
		   <result property="name" column="module_name"/>
		   <result property="description" column="moduleDescription"/>
		   <result property="isDelete" column="is_delete"/>
		   <result property="projectId" column="project_id"/>
	   </collection>
   </resultMap>


	<select id="queryByName" resultType="ProjectEntity" parameterType="java.lang.String">
		SELECT * FROM tb_project where name = #{name}
	</select>


	<!--注意leader_id = #{LeaderId} 前面leader_id是数据库的名称，后面LeaderId是对象类定义的名称，传参按对象类型名称给key-->
	<update id="updateProject" parameterType="ProjectEntity">
		UPDATE tb_project
		SET name = #{name}, description = #{description}, leader_id = #{LeaderId},leader_name = #{LeaderName},
		    is_deleted = #{isDeleted}
		WHERE id = #{id}
	</update>

	<select id="ProjectWithModules" resultMap="ProjectWithM">
		SELECT
			p.id,
			p.name,
			p.leader_id,
			p.description,
			p.leader_name,
			p.is_deleted,
			m.id AS module_id,
			m.name AS module_name,
			m.description AS moduleDescription,
			m.is_delete,
			m.project_id
		FROM
			tb_project p
				LEFT JOIN
			tb_module m
			ON
				p.id = m.project_id
		WHERE
			p.is_deleted = 0 AND (m.is_delete = 0 OR m.is_delete IS NULL);
	</select>

	<select id="queryById" resultMap="ProjectWithM">
		SELECT
			p.id,
			p.name,
			p.leader_id,
			p.description,
			p.leader_name,
			p.is_deleted,
			m.id AS module_id,
			m.name AS module_name,
			m.description AS moduleDescription,
			m.is_delete,
			m.project_id
		FROM
			tb_project p
				LEFT JOIN
			tb_module m
			ON
				p.id = m.project_id
		WHERE
			p.is_deleted = 0 AND (m.is_delete = 0 OR m.is_delete IS NULL) AND p.id = #{id};
	</select>
</mapper>
