<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weaver.accurate.mapper.TaskMapper">
	<sql id="task">
		select * from tb_task
	</sql>

	<select id="selectProjectById" resultType="ProjectEntity" parameterType="int">
		SELECT * FROM tb_project where id = #{id}
	</select>

	<select id="selectTasks" resultType="TaskEntity" parameterType="TaskEntity">
		SELECT * FROM tb_task
		<where>
			<if test="name !=null and name != ''">
				AND name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="description != null and description != ''">
				AND description LIKE CONCAT('%', #{description}, '%')
			</if>
			<if test="isArchive != null">
				AND is_archive = #{isArchive}
			</if>
		    <if test="isJob != null">
				AND is_job = #{isJob}
			</if>
			<if test="archiveName != null and archiveName != ''">
				AND archive_name LIKE CONCAT('%', #{archiveName}, '%')
			</if>
			<if test="projectId != null">
				AND project_id = #{projectId}
			</if>
		</where>
	</select>

	<select id="selectByNameAndProjectId" resultType="TaskEntity" parameterType="TaskEntity">
		<include refid="task"></include>
		<where>
		  AND name = #{name} AND project_id = #{projectId}
		</where>
	</select>

	<update id="updateIsArchive" parameterType="int">
		UPDATE tb_task
		SET is_archive = 1
		WHERE id = #{id}
	</update>

	<select id="task_all" resultType="TaskEntity">
		SELECT * FROM tb_task
	</select>
</mapper>
